root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4

# Namespace
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_diagnostic.IDE0160.severity = warning

# Usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_diagnostic.IDE0005.severity = warning

# var
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion

# Naming
dotnet_naming_rule.private_fields_should_be_camel_case_with_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case_with_underscore.style = camel_case_with_underscore
dotnet_naming_rule.private_fields_should_be_camel_case_with_underscore.severity = warning

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_fields.required_modifiers = instance

dotnet_naming_style.camel_case_with_underscore.required_prefix = _
dotnet_naming_style.camel_case_with_underscore.capitalization = camel_case

dotnet_naming_symbols.private_constants.applicable_kinds = field
dotnet_naming_symbols.private_constants.applicable_accessibilities = private
dotnet_naming_symbols.private_constants.required_modifiers = const

dotnet_naming_symbols.private_static_readonly.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly.required_modifiers = static, readonly

dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_rule.private_constants_should_be_pascal_case.symbols = private_constants
dotnet_naming_rule.private_constants_should_be_pascal_case.style = pascal_case
dotnet_naming_rule.private_constants_should_be_pascal_case.severity = warning

dotnet_naming_rule.private_static_readonly_should_be_pascal_case.symbols = private_static_readonly
dotnet_naming_rule.private_static_readonly_should_be_pascal_case.style = pascal_case
dotnet_naming_rule.private_static_readonly_should_be_pascal_case.severity = warning
